@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

body {
    background-color: '9C02A7';
    padding: 0;
    margin: 0;
}

nav {
    border: 1px solid white;
    height: 60px;
}

:not(nav) {
    -webkit-app-region: no-drag;
}