@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

body {
    background-color: '9C02A7';
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    border: 1px solid #48545c;
}

nav {
    border: 1px solid white;
    height: 60px;
}

:not(nav) {
    -webkit-app-region: no-drag;
}

#titlebar {
  display: block;
  position: fixed;
  height: 32px;
  width: calc(100% - 2px);
  background: #254053;
  padding: 4px;
  color: #FFF;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: auto;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#min-button {
  grid-column: 1;
}
#max-button, #restore-button {
  grid-column: 2;
}
#close-button {
  grid-column: 3;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .button {
  user-select: none;
}

.window-hover:hover {
    background: rgba(255,255,255,0.1);
  }
  .window-hover:hover:active {
    background: rgba(255,255,255,0.2);
  }

  .window-hover-close:hover {
    background: #E81123 !important;
  }
  .window-hover-close:active {
    background: #F1707A !important;
  }
  .window-hover-close:active .icon {
    filter: invert(1);
  }

.mac-controls:hover .mac-hover{
    display: flex;
}
.mac-hover{
display: none;
}
#restore-button {
  display: none !important;
}
